footer {
  background: $darkblue;

  .site-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    flex-wrap: wrap;

    @media #{$medium-only} {
      flex-direction: column;
      margin: 20px 0;
      height: 180px;
      justify-content: space-around;
    }

    @media #{$small-only} {
      flex-direction: column;
      margin: 20px 0;
      height: 180px;
      justify-content: space-around;
    }

    #footer-menu {
      padding: 0;
      list-style: none;
      display: flex;
      margin: 0;

      li {
        margin: 0 30px 0 0;
        font-size: 14px;
        text-transform: uppercase;
        font-family: $header-font-family;

        &:last-of-type {
          margin-right: 0;
        }

        a {
          color: transparentize($white, 0.4);
          @include transition(color 0.2s ease);
          &:hover {
            color: $white;
          }
        }
      }
    }
    .address {
      font-size: 14px;
      color: transparentize($white, 0.4);
      font-family: $header-font-family;

      @media #{$medium-only} {
        text-align: center;
      }

      @media #{$small-only} {
        text-align: center;
      }
    }
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 65px;
    background: #32333b;

    @media #{$small-only} {
      height: auto;
      padding: 15px 0;
    }

    .-info {
      font-family: $header-font-family;
      font-size: 14px;
      color: transparentize($white, 0.4);
      text-align: center;

      @media #{$small-only} {
        font-size: 12px;
      }
    }
  }

  svg {
    opacity: 0.6;
    height: auto;
  }

  .well {
    svg {
      width: 65px;
      height: 65px;

      @media #{$small-only} {
        width: 50px;
        height: 50px;
      }
    }
  }
  .fb {
    height: 30px;
    display: block;
    svg {
      width: 30px;
      height: 30px;
      &:hover {
        opacity: 1;
      }
    }
  }
}
