.home {
  .hentry {
    margin: 0 ;
  }

  .img-hm-bleed {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;

    .church img {
      width: 100%;
      height: auto;
      z-index: 0;
      position: relative;
    }
    .join-us {
      width: 30%;
      display: block;
      margin: 0 0 0 50%;
      bottom: 17%;
      position: absolute;
      z-index: 1;
      left: -15%;

      @media #{$small-only} {
        width: 50%;
        display: block;
        margin: 0 0 0 50%;
        bottom: 42%;
        position: absolute;
        z-index: 1;
        left: -25%;
      }
    }
    .service-time-main {
      width: 100%;
      background: transparentize($white, 0.2);
      height: auto;
      position: absolute;
      z-index: 1;
      bottom: 0;
      text-align: center;
      padding: 1.25% 15px;
      font-size: rem-calc(23);
      font-family: $header-font-family;
      color: $jet;

      @media #{$small-only} {
        position: relative;
        font-size: rem-calc(16);
        color: white;
        background: $lightblue;
        padding: 15px 30px;
      }
    }
  }

  .entry-content-hm {
    text-align: center;
    margin: 20px 0 0 0;

    &.monthly-flyer {
      margin: 0 ;
    }

    h1 {
      margin: 25px 0 25px 0;

      @media #{$small-only} {
        margin: 10px 0;
      }
    }

    p {
      font-size: rem-calc(18);
      margin-bottom: 40px;
      color: $jet;

      @media #{$small-only} {
        font-size: rem-calc(14);
        margin-bottom: 30px;
      }
    }
  }

  // monthly flyer cta
  .monthly-flyer {
    padding: 40px 0 80px 0;

    @media #{$small-only} {
      padding: 10px 0 30px 0;
    }
  }

}

// sermons home page cta
.sermon-cta {
  text-align: center;
  margin-top: 70px;
  padding: 30px 0 50px 0;
  background-image: url('img/bg-sermons.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media #{$small-only} {
    margin-top: 40px;
  }

  &:before {
    content: '';
    position: absolute;
    background-color: $lighttan;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  svg {
    height: 90px;
    width: auto;
    max-width: 100%;
    display: block;
    margin: 25px auto 35px auto;

    @media #{$small-only} {
      margin: 15px auto;
    }
  }

  h2 {
    color: $white;
  }
}

// groups and events home page
.groups-events {
  background-image: url('img/texture.jpg');
  padding: 60px 0 80px 0;
  @media #{$small-only} {
    padding: 30px 0 40px 0;
  }
  h2 {
    text-align: center;
    color: $darkblue;
  }
  h3 {
    color: $white;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 30px;
  }
  p {
    padding: 15px 30px;

    @media #{$small-only} {
      font-size: rem-calc(14);
    }
  }
  svg {
    width: 80px;
    height: 80px;
    margin: 80px auto -25px auto;
    position: relative;
    display: block;
    top: -45px;
    @media #{$small-only} {
      width: 60px;
      height: 60px;
      margin: 60px auto -15px auto;
      top: -30px;
    }
  }
  .groups-hm {
    background: #beb5a4;
    color: $white;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 50px;
    h3 {
      background: #b3a892;
    }
    a {
      text-transform: uppercase;
      color: $lightblue;
      @include transition(all 0.2s ease);
      text-decoration: none;
      border-bottom: 1px solid $lightblue;
      padding-bottom: 1px;
      margin-left: 30px;
      &:hover {
        color: $white;
        border-bottom: 1px solid $white;
      }
    }
  }
  .events-hm {
    background: #6e7690;
    color: $white;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 50px;
    h3 {
      background: #4e5262;
    }
    a {
      text-transform: uppercase;
      color: $white;
      @include transition(all 0.2s ease);
      text-decoration: none;
      border-bottom: 1px solid $white;
      padding-bottom: 1px;
      margin-left: 30px;
      &:hover {
        color: $darkblue;
        border-bottom: 1px solid $darkblue;
      }
    }
  }



}
