// type
h1 {
  color: $lightblue;

  @media #{$small-only} {
    font-size: rem-calc(24);
  }
}

h2 {
  color: $darkblue;

  @media #{$small-only} {
    font-size: rem-calc(21);
  }
}

p {
  @media #{$small-only} {
    font-size: rem-calc(14);
  }
}

strong, b {
  font-weight: 700;
}

// padding
.no-padding {
  padding: 0;
}

// buttons
.button, .give-btn {
  background-color: $lightblue;
  border-bottom: 4px solid $darkblue;

  &.large, &.give-donation-level-btn {
    padding: 14px 30px 12px 30px;
    text-transform: uppercase;

    @media #{$small-only} {
      padding: 10px 25px 9px 25px;
      font-size: rem-calc(14);
    }

    &:hover {
      background-color: lighten($lightblue, 10%);
    }
  }
  &.small {
    background-color: $white;
    border-bottom: 3px solid $lightblue;
    color: $darkblue;
    padding: 10px 25px 9px 25px;

    @media #{$small-only} {
      font-size: rem-calc(14);
    }

    &:hover {
      background-color: transparentize($white, 0.4);
    }
  }
}

// wp post styles
.entry-content {
  h1, h2 {
    font-size: 42px;
    color: $lightblue;
    margin-bottom: 30px;
    margin-top: 60px;

    @media #{$small-only} {
      font-size: rem-calc(24);
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
  h3 {
    color: #782200;
    font-size: 18px;
    font-weight: normal;
  }
  h4 {
    color: $lightblue;
    font-size: 16px;
    font-weight: 700;
  }
  ul {
    li {
      margin-bottom: 1rem;
      color: #4b4c54;

      @media #{$small-only} {
        font-size: rem-calc(14);
      }
    }
  }
  ol {
    li {
      margin-bottom: 1rem;
      color: #4b4c54;

      @media #{$small-only} {
        font-size: rem-calc(14);
      }
    }
  }
  blockquote {
    padding-left: 0;
    font-family: Georgia, Times, serif;
    font-style: italic;
    border-left: 0;
    max-width: 90%;

    @media #{$small-only} {
      max-width: 100%;
    }

    p {
      font-size: rem-calc(21);
      color: #b3a892;

      @media #{$small-only} {
        font-size: rem-calc(16);
      }
    }
  }
  a {
    transition: 20ms color ease;
    &:link {
      text-decoration: none;
      color: $lightblue;
      border-bottom: 1px solid $lightblue;
      padding-bottom: 1px;
    }
    &:visited {
      text-decoration: none;
      color: $lightblue;
      border-bottom: 1px solid $lightblue;
      padding-bottom: 1px;
    }
    &:hover {
      text-decoration: none;
      color: $lighttan;
      border-bottom: 1px solid $lighttan;
      padding-bottom: 1px;
    }
    &:active {
      text-decoration: none;
      color: $lightblue;
      border-bottom: 1px solid $lightblue;
      padding-bottom: 1px;
    }
  }
}

a.mejs-horizontal-volume-slider {
  border-bottom: none !important;
}
