/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-branding {
	float: left;
	width: auto;
	margin: 35px 0;

	svg {
		width: 270px;
		height: 61px;

		@media (max-width: 1068px) {
			width: 230px;
			height: 52px;
		}
		@media (max-width: 970px) {
			width: 190px;
			height: 43px;
		}
	}
	@media (max-width: 1068px) {
		margin: 30px 0;
	}
	@media (max-width: 970px) {
		margin: 20px 0;
	}
}

.site-header {
	background: transparentize($lightblue, 0.1);
	position: fixed;
	width: 100%;
	height: auto;
	z-index: 9000;
}

.nav-holder {
	float: right;
	margin-top: 58px;

	@media (max-width: 1068px) {
		margin-top: 48px;
	}
	@media (max-width: 970px) {
		margin-top: 33px;
	}
}

.phone-social {
	float: left;
	color: $white;
	font-size: 0.875rem;
	padding: 0 0 0 35px;

	.header-phone {
		padding-right: 18px;
	}

	#svg-fb {
		float: right;
		width: 30px;
		height: 30px;
		margin-top: -5px;
		@include transition(all 0.2s ease);
		&:hover {
			opacity: 0.8;
		}
	}
}

// offset for page content
.home {
	#primary {
		margin-top: 0;
	}
}
#primary {
	margin-top: 135px;

	@media #{$small-only} {
		margin-top: 0;
	}
}
