/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	float: left;
	width: auto;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
	font-family: $header-font-family;
	text-transform: uppercase;
	font-size: rem-calc(14);

	@media (max-width: 970px) {
		font-size: rem-calc(12);
	}
}

.main-navigation a {
	display: block;
	text-decoration: none;
	color: $white;
	padding: 0 0 10px 35px;
	@include transition(all 0.2s ease);

	&:hover {
		opacity: 0.7;
		color: $white;
	}

	@media (max-width: 970px) {
		padding: 0 0 10px 25px;
	}
}

.main-navigation ul ul {
	float: left;
	position: absolute;
	left: -999em;
	z-index: 99999;
	background: $lightblue;
	width: 200px;
	padding: 7px 15px;
	margin-left: 35px;

	@media (max-width: 970px) {
		margin-left: 25px;
	}

	&:before {
		content: ' ';
		width: 20px;
		height: 20px;
		display: block;
		position: absolute;
		top: -5px;
		background: $lightblue;
		text-indent: -999em;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
	}
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: auto;
	padding: 7px 0;
}

.main-navigation ul ul li {
	display: block;
	clear: both;
	text-transform: none;
	font-size: 0.75rem;
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

// show and hide each nav based on screen width
#cd-lateral-nav {
	display: none;
}
.mobile-trigger {
	svg {
		display: none;
	}
}
@media screen and (max-width: 840px) {
	header.mobile-trigger {
		display:block;

		svg {
      width: 115px;
      height: auto;
      margin: 10px 0 0 15px;
			display: block;
    }
	}

	header.top {
		display: none;
	}

	#cd-lateral-nav {
		display: block;
	}
}
