@media only screen and (max-width: 840px) {

  /* --------------------------------

  Primary style

  -------------------------------- */
  html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  html, body {
    /* you need to set this to assign to the main element a min height of 100% */
    height: 100%;
  }

  /* --------------------------------

  Modules - reusable parts of our design

  -------------------------------- */
  .cd-img-replace {
    /* replace text with a background-image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  /* --------------------------------

  Main components

  -------------------------------- */
  .cd-main-content {
    /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
    min-height: 100%;
    position: relative;
    background-color: $white;
    z-index: 2;
    padding-top: 50px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  .cd-main-content.lateral-menu-is-open {
    /* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
  }
  @media only screen and (min-width: 840px) {
    .cd-main-content {
      padding-top: 70px;
    }
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: $lightblue;
    z-index: 3;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  header.lateral-menu-is-open {
    /* translate to show the lateral menu */
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
  }
  header.is-fixed {
    position: fixed;
  }
  @media only screen and (min-width: 840px) {
    header {
      height: 70px;
    }
  }

  #cd-logo {
    display: block;
    float: left;
    margin: 12px 0 0 20px;
  }
  #cd-logo img {
    display: block;
  }
  @media only screen and (min-width: 840px) {
    #cd-logo {
      margin: 22px 0 0 30px;
    }
  }

  #cd-top-nav {
    position: absolute;
    top: 0;
    right: 120px;
    height: 100%;
    display: none;
  }
  #cd-top-nav ul {
    height: 100%;
    padding-top: 18px;
  }
  #cd-top-nav li {
    display: inline-block;
    margin-right: 1em;
  }
  #cd-top-nav a {
    display: inline-block;
    padding: .5em;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
  }
  #cd-top-nav a.current {
    background-color: #242e30;
  }
  .no-touch #cd-top-nav a:hover {
    color: rgba(255, 255, 255, 0.7);
  }
  @media only screen and (min-width: 840px) {
    #cd-top-nav {
      display: block;
    }
  }

  #cd-menu-trigger {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: $lightblue;
  }
  #cd-menu-trigger .cd-menu-text {
    height: 100%;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    display: none;
  }
  #cd-menu-trigger .cd-menu-icon {
    /* this span is the central line in the menu menu */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #FFF;
    /* these are the upper and lower lines in the menu menu */
  }
  #cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    left: 0;
  }
  #cd-menu-trigger .cd-menu-icon::before {
    bottom: 5px;
  }
  #cd-menu-trigger .cd-menu-icon::after {
    top: 5px;
  }
  #cd-menu-trigger.is-clicked .cd-menu-icon {
    background-color: rgba(255, 255, 255, 0);
  }
  #cd-menu-trigger.is-clicked .cd-menu-icon::before, #cd-menu-trigger.is-clicked .cd-menu-icon::after {
    background-color: white;
  }
  #cd-menu-trigger.is-clicked .cd-menu-icon::before {
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cd-menu-trigger.is-clicked .cd-menu-icon::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  @media only screen and (min-width: 840px) {
    #cd-menu-trigger {
      width: 110px;
      padding-left: 1.25em;
    }
    #cd-menu-trigger .cd-menu-text {
      display: inline-block;
      line-height: 70px;
    }
    #cd-menu-trigger .cd-menu-icon {
      left: auto;
      right: 1.25em;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  }

  #cd-lateral-nav {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    visibility: hidden;
    /* the secondary navigation is covered by the main element */
    z-index: 1;
    width: 260px;
    overflow-y: auto;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
    transition: transform .4s 0s, visibility 0s .4s;
    /* this creates the subtle slide in animation of the navigation */
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    -ms-transform: translateX(80px);
    -o-transform: translateX(80px);
    transform: translateX(80px);
  }
  #cd-lateral-nav .cd-navigation {
    margin: 10px 0 16px;
  }
  #cd-lateral-nav .sub-menu {
    padding: 0 10px 20px 15px;
    display: none;
  }
  #cd-lateral-nav a {
    display: block;
    line-height: 2em;
    padding: 0 16px 0 32px;
    color: #aab5b7;
  }
  #cd-lateral-nav a.current {
    background-color: #3a4a4d;
    color: #FFF;
  }
  .no-touch #cd-lateral-nav a:hover {
    color: #FFF;
  }
  @media only screen and (min-width: 840px) {
    #cd-lateral-nav .cd-navigation {
      margin: 20px 0;
    }
  }
  #cd-lateral-nav.lateral-menu-is-open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
    transition: transform .4s 0s, visibility 0s 0s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
  }

  /* style menu items which have a submenu  */
  #cd-lateral-nav .menu-item-has-children > a {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    /* this is the right arrow to show that the item has a submenu  */
  }
  #cd-lateral-nav .menu-item-has-children > a::after {
    content: '';
    display: block;
    height: 20px;
    width: 17px;
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 20px;
    background: url("img/cd-arrow.svg") no-repeat center center;
    background-size: 15px 15px;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  #cd-lateral-nav .menu-item-has-children > a.submenu-open::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
  }

  #cd-lateral-nav .socials {
    padding: 0 32px;
  }
  #cd-lateral-nav .socials:after {
    content: "";
    display: table;
    clear: both;
  }
  #cd-lateral-nav .socials a {
    height: 32px;
    width: 32px;
    float: left;
    padding: 0;
    background-image: url("../img/cd-socials.svg");
    background-repeat: no-repeat;
    background-size: 128px 64px;
    background-color: #FFF;
    margin-right: .5em;
    border-radius: 0.25em;
  }
  #cd-lateral-nav .socials a.cd-twitter {
    background-position: 0 0;
  }
  #cd-lateral-nav .socials a.cd-github {
    background-position: -32px 0;
  }
  #cd-lateral-nav .socials a.cd-facebook {
    background-position: -64px 0;
  }
  #cd-lateral-nav .socials a.cd-google {
    background-position: -96px 0;
  }
  .no-touch #cd-lateral-nav .socials a:hover {
    background-color: #4e6361;
  }
  .no-touch #cd-lateral-nav .socials a:hover.cd-twitter {
    background-position: 0 -32px;
  }
  .no-touch #cd-lateral-nav .socials a:hover.cd-github {
    background-position: -32px -32px;
  }
  .no-touch #cd-lateral-nav .socials a:hover.cd-facebook {
    background-position: -64px -32px;
  }
  .no-touch #cd-lateral-nav .socials a:hover.cd-google {
    background-position: -96px -32px;
  }

  // CUSTOM OVER RIDES/STYLES
  #cd-lateral-nav {
    background-color: #fbf7f2;

    #primary-menu {
      margin: 0;
      padding: 0;
      list-style: none;

      > li {
        border-bottom: 1px solid #beb5a4;
        padding: 6px 0;

        a {
          padding: 0 0 0 20px;
          color: #b3a892;
        }
      }
    }

    .menu-item-has-children {
      background: #fff;
    }

    .menu-item-has-children > a {
      position: relative;
      text-transform: uppercase;
      font-weight: normal;
    }

    .sub-menu {
      list-style: none;
      margin: 0;
      padding: 0;

      > li {
        padding-left: 15px;
        font-size: rem-calc(14);
      }
    }
  }


}
