.page-template-template-ministries {

  .entry-content {
    h1 {
      font-size: 42px;
      color: $lightblue;
      margin-bottom: 30px;
      margin-top: 60px;

      @media #{$small-only} {
        font-size: rem-calc(24);
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }
    h2 {
      color: $darkblue;
      font-size: rem-calc(31);
      margin-top: 30px;
      margin-bottom: 20px;

      @media #{$small-only} {
        font-size: rem-calc(21);
      }
    }
    h3 {
      color: #782200;
      font-size: 18px;
      font-weight: normal;
    }
    h4 {
      color: $lightblue;
      font-size: 16px;
      font-weight: 700;
    }
    ul {
      margin-bottom: 1rem;
      li {
        margin-bottom: .4rem;
        color: #4b4c54;

        @media #{$small-only} {
          font-size: rem-calc(14);
        }
      }
    }
    ol {
      margin-bottom: 1rem;
      li {
        margin-bottom: .4rem;
        color: #4b4c54;

        @media #{$small-only} {
          font-size: rem-calc(14);
        }
      }
    }
  }

}
