.page-template-template-leadership {
  #primary {
    margin-bottom: 100px;
  }
  h1, h2 {
    text-align: center;
  }
  h1 {
    margin: 60px 0 0 0;
  }
  h2 {
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .name {
    font-size: rem-calc(16);
    color: #782200;
    border-bottom: 1px solid transparentize($lightblue, 0.7);
    padding: 20px 0 7px 0;
  }
  .contact {
    font-size: rem-calc(14);
    color: $lightblue;
    padding: 10px 0 40px 0;
  }
}
