.page-template-template-giving {
  #primary {
    margin-bottom: 100px;
    @media #{$small-only} {
      margin-bottom: 40px;
    }
  }
  .give-form-title {
    display: none;
  }
  h1 {
    margin: 60px 0 30px 0;

    @media #{$small-only} {
      margin: 20px 0 10px 0;
    }
  }

  [id*=give-form] div.give-form-content-wrap {
    margin-bottom: 60px;
  }

  // labels
  form.give-form legend {
    font-weight: normal;
    font-family: $header-font-family;
    border-bottom: 1px solid $lighttan;
  }

  // currency symbol
  form[id*=give-form] .give-donation-amount .give-currency-symbol,
  form[id*=give-form] #give-final-total-wrap .give-donation-total-label {
    background-color: $lighttan;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: $white;
    margin: 0;
    padding: 0 12px;
    float: left;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  form[id*=give-form] .give-donation-amount #give-amount, form[id*=give-form] .give-donation-amount #give-amount-text {
    float: left;
    border: 1px solid #ccc;
    background: #FFF;
    border-radius: 0;
    height: 35px;
    line-height: 35px;
    padding: 0 12px;
    margin: 0;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 125px;
  }

  form[id*=give-form] #give-final-total-wrap .give-final-total-amount {
    font-size: 16px;
  }

  // buttons
  .give-btn {
    background-color: $lightblue;
    border-bottom: 4px solid $darkblue;
    font-family: $header-font-family;
    border-top: 0;
    border-left: 0;
    border-right: 0;

    &.give-submit {
      padding: 14px 30px 12px 30px;
      text-transform: uppercase;
      color: $white;

      @media #{$small-only} {
        padding: 10px 25px 9px 25px;
        font-size: rem-calc(14);
      }

      &:hover {
        background-color: lighten($lightblue, 10%);
      }
    }
    &.give-donation-level-btn {
      background-color: #fff;
      border-bottom: 3px solid $lightblue;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      color: $darkblue;
      padding: 10px 25px 9px 25px;

      @media #{$small-only} {
        font-size: rem-calc(14);
      }

      &:hover {
        background-color: transparentize($white, 0.4);
      }
    }
  }
}
