#tribe-events-pg-template {
  margin: 175px auto 100px auto;
  padding: 0 15px;
  max-width: rem-calc(1170);

  @media #{$small-only} {
    margin: 20px auto 40px auto;
  }
}
.post-type-archive-tribe_events {
  h2.tribe-events-page-title {
    font-size: rem-calc(24);
    color: $lightblue;

    @media #{$small-only} {
      font-size: rem-calc(21);
    }
  }
  #tribe-bar-form #tribe-bar-views + .tribe-bar-filters, .tribe-bar-collapse #tribe-bar-collapse-toggle {
    display: none !important;
  }
  table thead {
    background: $lightblue;
    color: $white;
  }
  .tribe-events-calendar th {
    background-color: $lightblue;
    color: $white;
    font-weight: normal;
  }

  .tribe-bar-disabled #tribe-bar-form #tribe-bar-views {
    float: left;
    font-size: 14px;
    left: 0;
    padding: 0;
    right: auto;
    width: auto;
  }
  #tribe-events-content .tribe-events-calendar td {
    border: 1px solid $lighttan;
  }
  #tribe-events-content table.tribe-events-calendar {
    border: 1px solid $lightblue;
  }
  .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a,
  .tribe-events-calendar td.tribe-events-present.mobile-active {
    background: $darkblue;
  }
  #tribe-bar-views .tribe-bar-views-list {
    padding: 0;
  }
  .tribe-bar-views-list span.tribe-icon-list,
  .tribe-bar-views-list span.tribe-icon-month {
    font-size: 14px;
  }
  .tribe-bar-views-inner, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
    background: white;
  }
  #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover {
    background: white;
  }

  .tribe-events-sub-nav li a {
    @media #{$small-only} {
      display: block;
      padding: 10px 20px;
      color: $lightblue;
      white-space: normal;
      position: relative;
      padding-bottom: 1000px;
      margin-bottom: -990px;
      background: white;
      border-bottom: 3px solid $darkblue;
    }
  }
}
