.post-type-archive-sermons,
.tax-sermon_cat,
.tax-sermon_preacher,
.single-sermons {

  // sermon filter
  .sermon-filter-bg {
    background: transparentize(#fff, 0.6);
    border-top: 1px solid transparentize($lighttan, 0.7);
    border-bottom: 1px solid transparentize($lighttan, 0.7);
    padding: 30px 0;
    margin-top: 30px;

    select {
      color: $lightblue;
    }

    .filter-label {
      margin-bottom: 10px;
      color: #b3a892;
    }
  }

  .entry-content {
    margin-bottom: 0;
  }

  h1 {
    text-align: center;
    margin-top: 40px;

    @media #{$medium-only} {
      margin-top: 0;
    }
    @media #{$small-only} {
      margin-top: 40px;
    }
  }
  h3.entry-title {
    font-size: rem-calc(18);
    margin-top: 40px;
    float: left;
    width: auto;

    @media #{$small-only} {
      font-size: rem-calc(16);
      margin-top: 20px;
    }
  }

  // audio player
  .mejs-container, .mejs-embed, .mejs-embed body, .mejs-container .mejs-controls {
    background: #b3a892 none repeat scroll 0% 0% !important;
  }

  // sermon meta
  .sermon-meta {
    display: flex;
    font-family: $header-font-family;
    font-size: rem-calc(14);
    margin-bottom: 15px;

    @media #{$small-only} {
      display: block;
      font-size: rem-calc(12);
      line-height: rem-calc(24);
    }

    a {
      text-decoration: none;
      border-bottom: 1px solid $lightblue;
      padding-bottom: 1px;

      &:hover {
        color: #b3a892;
        border-bottom: 1px solid #b3a892;
      }
    }

    .divider {
      margin-right: 7px;
      margin-left: 7px;

      @media #{$small-only} {
        display: none;
      }
    }
  }

  // verses/sermon text
  .verses {
    margin-top: 40px;
    h4 {
      @media #{$small-only} {
        font-size: rem-calc(14);
      }
    }
    p {
      font-size: rem-calc(14);

      @media #{$small-only} {
        font-size: rem-calc(12);
      }
    }
    .verse-num {
      font-size: 10px;
      top: -3px;
      position: relative;
      margin-right: 3px;
    }
  }

  // pagination
  .pagination {
    margin-bottom: 60px;
    margin-top: 40px;
    .page-numbers:first-child {
      border-left: 1px solid $darkblue ;
    }
  }

  .page-numbers {
    width: 30px ;
    height: 30px ;
    border-top: 1px solid $darkblue ;
    border-bottom: 1px solid $darkblue ;
    border-right: 0.25px solid $darkblue ;
    color: $darkblue ;
    display: inline-flex ;
    text-align: center ;
    align-items: center ;
    justify-content: space-around ;
    font-size: 14px ;
    float: left ;
    @include transition(color 0.2s ease) ;

    &:hover {
      background: $lightblue ;
      color: $white ;
      border-color: $lightblue ;
    }

    &.current {
      background: $lightblue ;
      color: $white ;
      border-color: $lightblue ;
    }
    &.prev, &.next {
      background-repeat: no-repeat;
      background-size: auto 32px;
      background-position: 10px 6px ;
      overflow: hidden ;

      &:hover {
        background-position: 10px -10px ;
      }
    }

  }

}
